In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [3]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [5]:
# splitting the data into x and y
x = df['T2']
y = df['T6']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df['T2'], df['T6'], random_state=42)

In [7]:
X_train = np.array(X_train).reshape(-1, 1)
X_test = np.array(X_test).reshape(-1, 1)

In [8]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [9]:
model.score(X_test, y_test)

0.6409019099800061

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df.drop(columns=['date', 'lights'],axis=1,inplace=True)
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=
                            df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
target = normalised_df['Appliances']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(features_df, target, test_size=0.3, random_state=1)

In [12]:
linear_model = LinearRegression()

In [13]:
# fit the model
linear_model.fit(X_train, y_train)

LinearRegression()

In [14]:
preds = linear_model.predict(X_test)

In [15]:
#MAE
mae = mean_absolute_error(y_test, preds)
mae

0.05007752457961437

In [16]:
# MSE
mse = mean_squared_error(y_test, preds)
mse

0.007785286260187685

In [17]:
#rmse
np.sqrt(mse)

0.08823426919393443

In [18]:
# R2
r2 = r2_score(y_test, preds)
r2

0.15646646512898466

In [19]:
r2_score

In [20]:
ridge = Ridge(alpha=0.4)

In [21]:
# fit the model
ridge.fit(X_train, y_train)

Ridge(alpha=0.4)

In [22]:
ridge_preds = ridge.predict(X_test)

In [23]:
# MSE
mse1 = mean_squared_error(y_test, ridge_preds)
mse

0.007785286260187685

In [24]:
#rmse
np.sqrt(mse1)

0.08825441128574509

In [25]:
lasso = Lasso(alpha=0.001)

In [26]:
# fit the model
lasso.fit(X_train, y_train)

Lasso(alpha=0.001)

In [27]:
lasso_preds = ridge.predict(X_test)

In [28]:
# MSE
mse2 = mean_squared_error(y_test, lasso_preds)
mse

0.007785286260187685

In [29]:
#rmse
np.sqrt(mse2)

0.08825441128574509